form{
    border: 3px solid rgb(128, 128, 128);
    width: 350px;
    height: 450px;
    text-align: right;
   
  


}
button{
    background-color: bisque;
    font-size: 20pxr;
}

header{
    background-color: grey;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mere{

}

form{
    background-color: blue;
    padding: 20px 20px 20px 20px;
}
input{
    width: 350px;
    height: 30px;
}
@media screen and (max-width:556px ){

    input{
        width: 100px;
        height: 30px;

    }
    form{
    border: 3px solid rgb(128, 128, 128);
    width: 100px;
    height: 500px;  
   
    }
    #text{
        width: 100px;
        height: 100px;
    }
}
input{
    background-color: blueviolet;
}
.text{
    background-color: blueviolet;
}